main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#urlInput {
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > * {
    margin: 10px 0;
}
