main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#urlInput {
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > * {
    margin: 10px 0;
}

#options {
    display: flex;
}

.option {
    margin-right: .5em;
}

.savedURL {
    color: #337ab7;
}

.savedURL:hover {
    text-decoration: underline;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
}
