<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>App</title>
</head>
<body>
    <main>
        <h1>Enter a URL </h1>
        <form action="{{ url_for('crawl') }}" method="POST">
            <input id="urlInput" type="text" name="url" placeholder="https://example.org">
            <div id="options">
                <div class="option">
                    <input type="checkbox" name="debug" id="debug">
                    <label for="debug">Table Form</label>
                </div>
                <div class="option">
                    <input type="checkbox" name="labels">
                    <label for="labels">Show Labels</label>
                </div>
                <div class="option">
                    <input type="checkbox" name="edges" checked>
                    <label for="edges">Colour Coded Edges</label>
                </div>
                <div class="option">
                    <input type="checkbox" name="metadata" checked>
                    <label for="metadata">Display Metadata</label>
                </div>
            </div>
            <input type="submit" value="Submit">
        </form>
        {% if error_msg %}
            <span style="color: #c0392b;">{{error_msg}}</span>
        {% endif %}
        <section>
        <h3>Saved Graphs:</h3>
        {% for url in URLs[::-1] %}
            <a href="/fetch?url={{url}}" class="savedURL">{{url}}</a>
        {% endfor %}
        
        </section>
    </main>


    <script>
        document.querySelectorAll('.savedURL').forEach(p => {
            p.addEventListener('click', function() {
                document.getElementById('urlInput').value = this.textContent;
            });
        });
    </script>
</body>
</html>